ion-card {
    min-height: 70%;
    width: 100%;
}

ion-card p {
    font-size: 16px;
    color: #000;
}

ion-slides {
    height: 100%;
}

.question {
    font-weight: bold;
    padding-bottom: 40px;
}

.answer {
    text-align: left;
}
