<ion-header no-border>
  <ion-toolbar color="secondary">
    <ion-back-button color="light"></ion-back-button>
    <ion-title>{{ deck?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showNewCard()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let card of deck?.cards.items" (click)="showCard(card)">
    <ion-card-content>
      {{ card.question }}
    </ion-card-content>
  </ion-card>
</ion-content>