:root {
  
    /** Angular Theme **/
    --component-width-desktop: 460px;
    --component-width-mobile: 100%;
  
    --color-primary: #0bb8cc;
    --color-primary-accent: #232F3E;
    --color-primary-highlight: #0cd1e8;
    
    --color-background:#232F3E;
  
    --color-secondary: #152939;
    --color-secondary-accent: #31465F;
  
    --color-danger: #DD3F5B;
    --color-error: #D0021B;
  
    --color-accent-brown: #828282;
    --color-accent-blue: #E1E4EA;
  
    --gradient-blaze: linear-gradient(270deg, #FFC300 0%, #FF9000 100%);
  
    --color-blue: #007EB9;
    --color-purple: #527FFF;
    --color-white: #FFFFFF;
  
    --input-border: 1px solid #C4C4C4;
    --input-padding: 0.5em 0.5em 0.3em 1em;
  
    --box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.15);
    --button-height: 42px;
  
    --interactions-conversation-height: 250px;
  
    /* Ionic Theme */
    
    /** primary **/
    --ion-color-primary: #0cd1e8;
    --ion-color-primary-rgb: 12,209,232;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #0bb8cc;
    --ion-color-primary-tint: #24d6ea;
  }
  