<ion-header no-border>
  <ion-toolbar color="secondary">
    <ion-back-button color="light"></ion-back-button>
    <ion-title>
      Quiz App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-card (click)="showCards(deck)" *ngFor="let deck of decks">
    <ion-card-header>
      <ion-card-title>{{ deck.name }}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>

<ion-footer no-border>
  <ion-toolbar color="secondary" text-center>
    <ion-button fill="outline" color="light" (click)="promptQuiz()">
      Quiz Me
      <ion-icon slot="end" name="albums"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>